  <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project-CentralPoint</title>
    <!-- Behavioral Meta Data -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,shrink-to-fit=no , user-scalable=no">


<!--Style-Sheets-->
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|VT323" rel="stylesheet">

    <link href="//cdn.muicss.com/mui-0.9.9/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.9/js/mui.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/myStyle.css">
<!--  <link rel="stylesheet" href="/css/style.css"> --><!--Later-->
    <script defer src="/js/material.min.js"></script>
    </head>
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
              <script>

          // Initialize Firebase
                    var config = {
                    apiKey: "AIzaSyDWbOM-S0cUTsd2-BIMZ4gMb1emqm5Pf88",
                    authDomain: "project-cp-def29.firebaseapp.com",
                    databaseURL: "https://project-cp-def29.firebaseio.com",
                    storageBucket: "project-cp-def29.appspot.com",
                    messagingSenderId: "651436094861"
                    };
          firebase.initializeApp(config);
          </script>

          <script>//Firebase-WiringGamr

          function Bewagoof(){
            console.log("Inside Bewagoof");

                      window.clck++;
                      if(window.clck == 5){
                        document.getElementById('err').innerHTML = "Currently available for CM only #Burn";
                        $('.error').fadeIn(400).delay(3000).fadeOut(400);

                      }
                      else if (window.clck == 8) {
                        document.getElementById('err').innerHTML = "Go on Lets Play!!";
                        $('.error').fadeIn(400).delay(3000).fadeOut(400);

                      }else if (window.clck == 19) {
                        document.getElementById('err').innerHTML = "You are really really Unique Sir.";
                        $('.error').fadeIn(400).delay(3000).fadeOut(400);

                      }else if (window.clck == 25) {
                        document.getElementById('err').innerHTML = "#Lonely_Human!!";
                        $('.error').fadeIn(400).delay(3000).fadeOut(400);
                      }else if (window.clck == 35) {
                        document.getElementById('err').innerHTML = "I am a pre-programmed Software still I have a better 'life' (pun)";
                        $('.error').fadeIn(400).delay(3000).fadeOut(400);
                      }else if (window.clck == 41) {
                        document.getElementById('err').innerHTML = "Jaa simran jeeley apni zindagi";
                        $('.error').fadeIn(400).delay(3000).fadeOut(400);
                      }else if (window.clck == 47) {
                        document.getElementById('err').innerHTML = "This whole session will be logged btw :P";
                        $('.error').fadeIn(400).delay(3000).fadeOut(400);
                    }
                  }



          function initApp(){
            //Listener for state change log in/out
              firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                  console.log("Signed in");
                    // User is signed in.
                    var displayName = user.displayName;
                    var email = user.email;
                    //document.getElementById('displaySignedUser').innerHTML = "Signed in as: "+email;
                    console.log(user.email);
                    var emailVerified = user.emailVerified;
                    console.log(emailVerified);
                    var photoURL = user.photoURL;
                    var isAnonymous = user.isAnonymous;
                    var uid = user.uid;
                    var providerData = user.providerData;
                    // [START_EXCLUDE silent]
                    //document.getElementById('signoutBTN').value='Sign Out';



// [END_EXCLUDE]
                    }else {
                        console.log("NO USER");
                        document.getElementById('signoutBTN').value='Sign In';
                        window.location = "/";
                      }
                        });



//document.getElementById('signupBTN').addEventListener('click', handleSignUp, false);
//document.getElementById('signoutBTN').addEventListener('click',toggleSignIn,false);
window.clck = 0;
document.getElementById('clcko').addEventListener('click',Bewagoof,false);
  }
  window.onload = function() {
    initApp();
//$('#loader').hide();
  };

          </script>


          <body>

              <div class="container" id="particles-js">

                <form class="mui-form">
                      <h2 class="form-signin-heading">Complete your Profile </h2>
                      <div class="mui-textfield mui-textfield--float-label" id="labcomppro">
                        <input type="text"  required>
                        <label>Name</label>
                      </div>
                      <div class="mui-textfield mui-textfield--float-label"  id="clcko">
                        <input type="text" value="CM"  disabled>
                        <label>Branch</label>

                      </div>
                      <div class="mui-textfield mui-textfield--float-label">
                        <textarea>Value on load</textarea>
                        <label>Textarea</label>
                      </div>
                      <button type="submit" class="mui-btn mui-btn--raised">Submit</button>

                      <div class='error' style='display:none' id="err"></div>
              </form>


          </div> <!-- /container -->



            <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
            <script src="js/index.js"></script>
            <script src="js/libs/jquery-3.1.0.min.js"></script>
            <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

            <script src="js/bootstrap.min.js"></script>

            <script src="/socket.io/socket.io.js"></script>

        <!--Before the Major workout==will be used later for validation==
            <script src="js/libs/jquery.validate.js"></script>
            <script src="js/signup.js"></script
            -->
            <script src="js/build.js"></script>
            <script>
              var socket = io();
              socket.on('connect',()=>{
                console.log('Connected to server');
              });
              socket.on('disconnect',()=>{
                console.log('Disconnected from server');
              });

            </script>

          </body>
        </html>
