html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 10px;

  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#profileBTN,
.mdl-button{
  margin-left: 35px;

}
#prohead,
.form-signin-heading{
      font-size: 3rem;


}
.mui-textfield>input, .mui-textfield>textarea {
      font-size: 20px;
}

.mdl-spinner{

  margin-left: 35px;
  bottom: -10px;
}
.error {

    width:200px;
    height:20px;
    border-radius: 25px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: 'VT323', monospace;
    font-style: italic;
    font-size: 20px;
    padding:10px;
    text-align:center;

    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}
.mui-form {
  background-color: inherit;
}
